{% extends 'movie_review/base.html' %}

{% block contents %}
<h1 class="text-center mb-5">
    영화 리-뷰 작성
</h1>
<div style="display: flex; justify-content: center;">
    <div class="card" style="width: 80%; background-color: rgb(255, 255, 255, 0.8);">
        <div class="card-body">
            <form action="{% url 'movie_review:create' %}" method="GET">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="title" placeholder="제목을 입력하세요.">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea name="content" class="form-control" id="content" rows="3"
                        placeholder="내용을 입력하세요."></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-secondary" type="submit">제출</button>
                    <a href="{% url 'movie_review:index' %}"><button class="btn btn-outline-secondary"
                            type="submit">취소</button></a>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="container">

</div>
{% endblock %}